@font-face {
    font-family: "nunito-regular";
    src: url("/assets/fonts/nunito-regular.ttf");
}
@font-face {
    font-family: "roboto-regular";
    src: url("/assets/fonts/roboto-regular.ttf");
}
.nunito {
    font-family: "nunito-regular";
}
.roboto {
    font-family: "roboto-regular";
}