.header {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 999;
  .header-logo {
    height: 75px;
    width: 150px;
  }
  @media (max-width:992px) {
   
      nav{
        display: none;
      }
  }
  .menu-toggle {
    .burgar-menu {
      width: 30px;
      height: 22px;
      cursor: pointer;
      transform: scaleX(-1);

      line {
        stroke: $color-ffffff;
        stroke-dasharray: 120%;
        stroke-dashoffset: 0%;
        transition:
          transform 0.3s,
          stroke-dashoffset 0.4s;
        transform-origin: center;
        stroke-width: 2px;

        &.top {
          transform: translateY(-44%);
        }

        &.middle {
          transform: scaleX(1);
          transition:
            opacity 0.3s,
            transform 0.3s;
        }

        &.bottom {
          transform: translateY(45%);
        }
      }

      &.activate {
        .top {
          transform: rotate(45deg);
          stroke-linecap: round;
        }

        .middle {
          transform: scaleX(0.1);
        }

        line.bottom {
          transform: rotate(-45deg);
          stroke-linecap: round;
        }

        .bottom {
          stroke-dashoffset: 0%;
        }
      }
    }
  }
  &.header-active {
    height: 100vh;
    overflow-y: auto;
    nav {
        transition: all 0.3s ease;
    }
  }

}
