.header {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 999;
}
.header .header-logo {
  height: 75px;
  width: 150px;
}
@media (max-width: 992px) {
  .header nav {
    display: none;
  }
}
.header .menu-toggle .burgar-menu {
  width: 30px;
  height: 22px;
  cursor: pointer;
  transform: scaleX(-1);
}
.header .menu-toggle .burgar-menu line {
  stroke: #ffffff;
  stroke-dasharray: 120%;
  stroke-dashoffset: 0%;
  transition: transform 0.3s, stroke-dashoffset 0.4s;
  transform-origin: center;
  stroke-width: 2px;
}
.header .menu-toggle .burgar-menu line.top {
  transform: translateY(-44%);
}
.header .menu-toggle .burgar-menu line.middle {
  transform: scaleX(1);
  transition: opacity 0.3s, transform 0.3s;
}
.header .menu-toggle .burgar-menu line.bottom {
  transform: translateY(45%);
}
.header .menu-toggle .burgar-menu.activate .top {
  transform: rotate(45deg);
  stroke-linecap: round;
}
.header .menu-toggle .burgar-menu.activate .middle {
  transform: scaleX(0.1);
}
.header .menu-toggle .burgar-menu.activate line.bottom {
  transform: rotate(-45deg);
  stroke-linecap: round;
}
.header .menu-toggle .burgar-menu.activate .bottom {
  stroke-dashoffset: 0%;
}
.header.header-active {
  height: 100vh;
  overflow-y: auto;
}
.header.header-active nav {
  transition: all 0.3s ease;
}

.hero-section .bg-layer {
  background-color: black;
  opacity: 20%;
}

.stats-section {
  margin-top: -100px;
  z-index: 1;
  position: relative;
}
.stats-section .stat-item .icon img {
  height: 64px;
  width: 64px;
}
.stats-section .stat-blocks {
  background-color: rgba(77, 91, 107, 0.9019607843);
  border-radius: 10px;
}

.about-us-section .left-right-img {
  height: 569px;
  border-radius: 10px;
}

.our-service-section .service-card {
  border-radius: 10px;
}
.our-service-section .service-card .service-img img {
  height: 100px;
  width: 100px;
}

.pricing-card-section .price-card {
  background: #0d0d0d;
  border-radius: 12px;
  padding: 40px 30px;
  border: 1px solid #222;
  color: #fff;
  text-align: center;
  height: 100%;
  transition: 0.3s;
}
.pricing-card-section .price-card:hover {
  transform: translateY(-8px);
}
.pricing-card-section .price-card .check-mark {
  width: 18px;
}

.testimonial-section .testimonial-img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  overflow: hidden;
}

footer input {
  height: 45px;
  padding: 10px !important;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  border: none;
}
footer textarea {
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px !important;
}
footer .contact-box {
  border-right: 1px solid rgba(197, 198, 199, 0.4509803922);
}
footer .contact-box:last-child {
  border-right: 0;
}
@media (max-width: 992px) {
  footer .contact-box {
    border-right: 0;
  }
}

@font-face {
  font-family: "nunito-regular";
  src: url("/assets/fonts/nunito-regular.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("/assets/fonts/roboto-regular.ttf");
}
.nunito {
  font-family: "nunito-regular";
}

.roboto {
  font-family: "roboto-regular";
}

.bg-E70106 {
  background-color: #E70106;
}

.bg-0B0C10 {
  background-color: #0B0C10;
}

.bg-1F2833 {
  background-color: #1F2833;
}

.bg-45a29e {
  background-color: #45a29e;
}

.bg-c5c6c7 {
  background-color: #c5c6c7;
}

.bg-E1FB02 {
  background-color: #E1FB02;
}

.bg-ffffff {
  background-color: #ffffff;
}

.text-E70106 {
  color: #E70106;
}

.text-0B0C10 {
  color: #0B0C10;
}

.text-1F2833 {
  color: #1F2833;
}

.text-45a29e {
  color: #45a29e;
}

.text-c5c6c7 {
  color: #c5c6c7;
}

.text-E1FB02 {
  color: #E1FB02;
}

.text-ffffff {
  color: #ffffff;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.font24 {
  font-size: 24px;
}

.font28 {
  font-size: 28px;
}

.font32 {
  font-size: 32px;
}

.font40 {
  font-size: 40px;
}

.font48 {
  font-size: 48px;
}

.font52 {
  font-size: 52px;
}

.font70 {
  font-size: 70px;
}

@media (max-width: 992px) {
  .res-font52 {
    font-size: 52px;
  }
}
.leading12 {
  line-height: 12px;
}

.leading16 {
  line-height: 16px;
}

.leading20 {
  line-height: 20px;
}

.leading24 {
  line-height: 24px;
}

.leading28 {
  line-height: 28px;
}

.leading32 {
  line-height: 32px;
}

.leading40 {
  line-height: 40px;
}

.leading56 {
  line-height: 56px;
}

.leading75 {
  line-height: 75px;
}

@media (max-width: 992px) {
  .res-leading56 {
    line-height: 56px;
  }
}
.tracking-tight {
  letter-spacing: -0.5px;
}

.tracking-normal {
  letter-spacing: 0px;
}

.tracking-wide {
  letter-spacing: 1px;
}

.tracking-wider {
  letter-spacing: 2px;
}

.tracking-widest {
  letter-spacing: 4px;
}

.dmt-5 {
  margin-top: 5px;
}

.dmt-10 {
  margin-top: 10px;
}

.dmt-15 {
  margin-top: 15px;
}

.dmt-20 {
  margin-top: 20px;
}

.dmt-25 {
  margin-top: 25px;
}

.dmt-30 {
  margin-top: 30px;
}

.dmt-35 {
  margin-top: 35px;
}

.dmt-40 {
  margin-top: 40px;
}

.dmt-45 {
  margin-top: 45px;
}

.dmt-50 {
  margin-top: 50px;
}

.dmt-55 {
  margin-top: 55px;
}

.dmt-60 {
  margin-top: 60px;
}

.dmt-65 {
  margin-top: 65px;
}

.dmt-70 {
  margin-top: 70px;
}

.dmt-75 {
  margin-top: 75px;
}

.dmt-80 {
  margin-top: 80px;
}

.dmt-85 {
  margin-top: 85px;
}

.dmt-90 {
  margin-top: 90px;
}

.dmt-95 {
  margin-top: 95px;
}

.dmt-100 {
  margin-top: 100px;
}

.dmt-105 {
  margin-top: 105px;
}

.dmt-110 {
  margin-top: 110px;
}

.dmt-115 {
  margin-top: 115px;
}

.dmt-120 {
  margin-top: 120px;
}

.dmt-125 {
  margin-top: 125px;
}

.dmt-130 {
  margin-top: 130px;
}

.dmt-135 {
  margin-top: 135px;
}

.dmt-140 {
  margin-top: 140px;
}

.dmt-145 {
  margin-top: 145px;
}

.dmt-150 {
  margin-top: 150px;
}

.dmt-155 {
  margin-top: 155px;
}

.dmt-160 {
  margin-top: 160px;
}

.dmt-165 {
  margin-top: 165px;
}

.dmt-170 {
  margin-top: 170px;
}

.dmt-175 {
  margin-top: 175px;
}

.dmt-180 {
  margin-top: 180px;
}

.dmt-185 {
  margin-top: 185px;
}

.dmt-190 {
  margin-top: 190px;
}

.dmt-195 {
  margin-top: 195px;
}

.dmt-200 {
  margin-top: 200px;
}

.dmt-205 {
  margin-top: 205px;
}

.dmt-210 {
  margin-top: 210px;
}

.dmt-215 {
  margin-top: 215px;
}

.dmt-220 {
  margin-top: 220px;
}

.dmt-225 {
  margin-top: 225px;
}

.dmt-230 {
  margin-top: 230px;
}

.dmt-235 {
  margin-top: 235px;
}

.dmt-240 {
  margin-top: 240px;
}

.dmt-245 {
  margin-top: 245px;
}

.dmt-250 {
  margin-top: 250px;
}

.dmt-255 {
  margin-top: 255px;
}

.dmt-260 {
  margin-top: 260px;
}

.dmt-265 {
  margin-top: 265px;
}

.dmt-270 {
  margin-top: 270px;
}

.dmt-275 {
  margin-top: 275px;
}

.dmt-280 {
  margin-top: 280px;
}

.dmt-285 {
  margin-top: 285px;
}

.dmt-290 {
  margin-top: 290px;
}

.dmt-295 {
  margin-top: 295px;
}

.dmt-300 {
  margin-top: 300px;
}

.dmt-305 {
  margin-top: 305px;
}

.dmt-310 {
  margin-top: 310px;
}

.dmt-315 {
  margin-top: 315px;
}

.dmt-320 {
  margin-top: 320px;
}

.dmt-325 {
  margin-top: 325px;
}

.dmt-330 {
  margin-top: 330px;
}

.dmt-335 {
  margin-top: 335px;
}

.dmt-340 {
  margin-top: 340px;
}

.dmt-345 {
  margin-top: 345px;
}

.dmt-350 {
  margin-top: 350px;
}

.dmb-5 {
  margin-bottom: 5px;
}

.dmb-10 {
  margin-bottom: 10px;
}

.dmb-15 {
  margin-bottom: 15px;
}

.dmb-20 {
  margin-bottom: 20px;
}

.dmb-25 {
  margin-bottom: 25px;
}

.dmb-30 {
  margin-bottom: 30px;
}

.dmb-35 {
  margin-bottom: 35px;
}

.dmb-40 {
  margin-bottom: 40px;
}

.dmb-45 {
  margin-bottom: 45px;
}

.dmb-50 {
  margin-bottom: 50px;
}

.dmb-55 {
  margin-bottom: 55px;
}

.dmb-60 {
  margin-bottom: 60px;
}

.dmb-65 {
  margin-bottom: 65px;
}

.dmb-70 {
  margin-bottom: 70px;
}

.dmb-75 {
  margin-bottom: 75px;
}

.dmb-80 {
  margin-bottom: 80px;
}

.dmb-85 {
  margin-bottom: 85px;
}

.dmb-90 {
  margin-bottom: 90px;
}

.dmb-95 {
  margin-bottom: 95px;
}

.dmb-100 {
  margin-bottom: 100px;
}

.dmb-105 {
  margin-bottom: 105px;
}

.dmb-110 {
  margin-bottom: 110px;
}

.dmb-115 {
  margin-bottom: 115px;
}

.dmb-120 {
  margin-bottom: 120px;
}

.dmb-125 {
  margin-bottom: 125px;
}

.dmb-130 {
  margin-bottom: 130px;
}

.dmb-135 {
  margin-bottom: 135px;
}

.dmb-140 {
  margin-bottom: 140px;
}

.dmb-145 {
  margin-bottom: 145px;
}

.dmb-150 {
  margin-bottom: 150px;
}

.dmb-155 {
  margin-bottom: 155px;
}

.dmb-160 {
  margin-bottom: 160px;
}

.dmb-165 {
  margin-bottom: 165px;
}

.dmb-170 {
  margin-bottom: 170px;
}

.dmb-175 {
  margin-bottom: 175px;
}

.dmb-180 {
  margin-bottom: 180px;
}

.dmb-185 {
  margin-bottom: 185px;
}

.dmb-190 {
  margin-bottom: 190px;
}

.dmb-195 {
  margin-bottom: 195px;
}

.dmb-200 {
  margin-bottom: 200px;
}

.dmb-205 {
  margin-bottom: 205px;
}

.dmb-210 {
  margin-bottom: 210px;
}

.dmb-215 {
  margin-bottom: 215px;
}

.dmb-220 {
  margin-bottom: 220px;
}

.dmb-225 {
  margin-bottom: 225px;
}

.dmb-230 {
  margin-bottom: 230px;
}

.dmb-235 {
  margin-bottom: 235px;
}

.dmb-240 {
  margin-bottom: 240px;
}

.dmb-245 {
  margin-bottom: 245px;
}

.dmb-250 {
  margin-bottom: 250px;
}

.dmb-255 {
  margin-bottom: 255px;
}

.dmb-260 {
  margin-bottom: 260px;
}

.dmb-265 {
  margin-bottom: 265px;
}

.dmb-270 {
  margin-bottom: 270px;
}

.dmb-275 {
  margin-bottom: 275px;
}

.dmb-280 {
  margin-bottom: 280px;
}

.dmb-285 {
  margin-bottom: 285px;
}

.dmb-290 {
  margin-bottom: 290px;
}

.dmb-295 {
  margin-bottom: 295px;
}

.dmb-300 {
  margin-bottom: 300px;
}

.dmb-305 {
  margin-bottom: 305px;
}

.dmb-310 {
  margin-bottom: 310px;
}

.dmb-315 {
  margin-bottom: 315px;
}

.dmb-320 {
  margin-bottom: 320px;
}

.dmb-325 {
  margin-bottom: 325px;
}

.dmb-330 {
  margin-bottom: 330px;
}

.dmb-335 {
  margin-bottom: 335px;
}

.dmb-340 {
  margin-bottom: 340px;
}

.dmb-345 {
  margin-bottom: 345px;
}

.dmb-350 {
  margin-bottom: 350px;
}

.container {
  max-width: 1440px;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.h-vh {
  height: 100vh;
}

.top-left-center {
  transform: translateY(-50%);
  top: 50%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
.row.row5 {
  margin-left: -5px;
  margin-right: -5px;
}
.row.row5 > * {
  padding-left: 5px;
  padding-right: 5px;
}
.row.row10 {
  margin-left: -10px;
  margin-right: -10px;
}
.row.row10 > * {
  padding-left: 10px;
  padding-right: 10px;
}

.btnA {
  height: 48px;
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.btn-E70106 {
  background-color: #E70106;
  color: #ffffff;
  border: 1px solid transparent;
}
.btn-E70106:hover {
  transition: all 1s ease;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-0B0C10 {
  background-color: #0B0C10;
  color: #ffffff;
  border: 1px solid transparent;
}
.btn-0B0C10:hover {
  transition: all 1s ease;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*# sourceMappingURL=main.css.map */
